/* Css reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* base value */
:root{
    /*obscured effect  */
    --obs: #949494;
    --inv: 0.6;  
}

/* background-color */
.hdr-bgc {
  background-color: #383a41;
}

.jumbo-bgc {
  background-color: #69d9bf;
}

.section-bgc-white {
  background-color: #fff;
}

.section-bgc-azure {
  background-color: #69d9bf;
}

.footer-bdc-top {
  background-color: #00000095;
}

/* Generics */
body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  color: white;
  /* position: fixed;
  left: 0px;
  top: 0px;
  z-index: 1;
  width: 100%; 
  font-weight: 600;
  font-size: 12px; */
  height: var(--mh-sm);
}

#jumbotrone {
  min-height: var(--mh-md);
  padding: var(--sec-pd-md) 0;
}

section {
  min-height: var(--mh-xxl);
  padding: var(--sec-pd-md) 0;
}

/* footer {
  padding: 30px;
  color: white;
} */

/* nav {
  line-height: 30px;
  background-color: aquamarine;
  max-width: 1100px;
  margin: 0 auto;
} */

/* nav > div{
  padding: var(--nav-pd)
} */

/* span {
  margin: 0 5px;
} */

/* img {
  width: 100%;
} */

ul {
  list-style-type: none;
  
  a {
      text-decoration: none;
      color: white;
      margin-right: 5px;
  }

  li:last-child {
      margin-right: 0;
  }
  
}

/* Utilities */
/* .container {
  
} */
 .separator-span {
  position: relative;
 }

.separator-span::after {
  content: "";
  position: absolute;
  top: 10px;
  left: 30px; 
  width: 100px;
  border-top: 2px solid #fff;
}

.separator-span::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -115px; 
  width: 100px;
  border-top: 2px solid #fff;
}

/* in header */
header .side-content.right .tt-btn {
  color: var(--obs);
  font-size: 1.5rem;
  padding: 1px 4px;
  background-color: transparent;
  border-color: #fff;
}

/* in jumbotrone */
#jumbotrone figure {
  width: 250px;
  margin: 0 auto;
}

/* in portfolio */
#portfolio .col {
  min-height: 275px;

  .card {
    height: 100%;
  }
}

#portfolio {
  .col .card{    
    background-size: 400px;
    background-position: center;
    border: none;
  }

  .col:first-child .card {
    background-image: url('../img/cabin.png');
  }

  .col:nth-child(2) .card {
    background-image: url('../img/cake.png');
  }

  .col:nth-child(3) .card {
    background-image: url('../img/circus.png');
  }

  .col:nth-child(4) .card {
    background-image: url('../img/game.png');
  }

  .col:nth-child(5) .card {
    background-image: url('../img/safe.png');
  }

  .col:nth-child(6) .card {
    background-image: url('../img/submarine.png');
  }
}

#portfolio .separator-span::before,
#portfolio .separator-span::after {
  border-color: #000;
}
/* in contact-me  */
#contact-me .message-box {
  height: 100px;
}
